<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Book Library</title>
    <meta name="title" content="Online Book Library">
    <meta name="description" content="Online Book Library">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />

    <link rel="stylesheet" href="css/adminAdd.css">

</head>

<body>
    <header class="header" data-header>
        <div class="container">
            <a href="#" class="logo">
                <img src="imgs/amino.png"width="190" height="28" alt="Online">
            </a>
            <nav class="navbar" data-navbar>
                <ul class="navbar-list"> 
                    <li>
                        <a href="adminAddBooks.html" class="navbar-link label-medium active">Add Books</a>
                    </li>
                    <li>
                        <a href="adminEditBooks.html" class="navbar-link label-medium active">Edit Books</a>
                    </li>
                    <li>
                        <a href="adminDeleteBooks.html" class="navbar-link label-medium active">Delete Books</a>
                    </li>
                    <li>
                        <a href="login.html" class="navbar-link label-medium active">Log Out</a>
                    </li>
                </ul>
            </nav>
            <button class="nav-toggle-btn icon-btn" aria-label="toggle navbar" type="button" data-nav-toggler>
                <span class="material-symbols-rounded open" aria-hidden="true">menu</span>
                <span class="material-symbols-rounded close" aria-hidden="true">close</span>
            </button>
        </div>
    </header>

    <div class="addContent">
        <div>
            <h1>Add Book to Library</h1>
            <br>
            <h3 style="border-bottom: solid 1px; width: fit-content;">Please enter Book Details:</h3>
            <br>

            <form action="" method="post" id="addBookForm">
                <div class="formInput">
                    <label for="bcvr">Book Cover:</label>
                    <br>
                    <input type="file" id="bcvr" accept="image/*">
                </div>
                <br>
                <div class="formInput">
                    <label for="bname">Book Name:</label>
                    <input type="text" id="bname" placeholder="Please Enter Book Name" required>
                </div>
                <br>
                <div class="formInput">
                    <label for="isbn">Book Id:</label>
                    <input type="text" id="isbn" placeholder="Please Enter ISBN" pattern="(\d{9}[\dXx])|(\d{13})"
                        required>
                </div>
                <br>
                <div class="formInput">
                    <label for="author">Author Name:</label>
                    <input type="text" id="author" placeholder="Please Enter author Name" required>
                </div>
                <br>
                <div class="formInput">
                    <label for="category">Category:</label>
                    <select id="category" required>
                        <option value="" disabled selected> Select Category</option>
                        <option value="1">Action and Adventure</option>
                        <option value="2">Biography</option>
                        <option value="3">Children's</option>
                        <option value="4">Classic</option>
                        <option value="5">Comic Book</option>
                        <option value="6">Detective And Mystery</option>
                        <option value="7">Fantasy</option>
                        <option value="8">Historical Fiction</option>
                        <option value="9">Horror</option>
                        <option value="10">Humor</option>
                        <option value="11">Literary Fiction</option>
                        <option value="12">Romance</option>
                        <option value="13">Sci-Fi</option>
                        <option value="14">Short Story</option>
                        <option value="15">Thriller</option>
                    </select>
                </div>
                <br>
                <div class="formInput">
                    <label for="dscrb">Enter Description:</label>
                    <br>
                    <textarea name="Description" id="dscrb" cols="50" rows="15" placeholder="Please Enter Description"
                        required></textarea>
                </div>
                <br>
                <div class="formInput">
                    <input type="submit">
                </div>
            </form>
        </div>
        <div><img alt="" id="getImage"></div>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a>
                    <div class="contact-info">
                        <p>Email: </p>
                        <p>Phone: </p>
                        <p>Address: </p>
                        <p>Social Media:</p>
                        <p>Twitter: </p>
                        <p>Facebook: </p>
                        <p>Instagram: </p>
                    </div>
                </li>
            </ul>
        </div>
    </footer>

    <script src="js/adminAddBooks.js"></script>
</body>

</html>