<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Profile</title>
    <link rel="stylesheet" href="temolate.css">

</head>
<body>

    <header>    
        <div class="container">
            <a href="#" class="logo">
                <img style="width: 200px; height: 100px;" decoding="async" src="imgs/amino.png" alt="Logo" />
            </a>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
            <ul>
                <li><a  href="User_Home.html">Home</a></li>
                <li><a href="userSearchBooks.html">Search</a></li>
                <li><a href="userViewList.html">View List</a></li>
                <li><a href="userBorrowBook.html">Borrow Books</a></li>
                <li><a href="userBookList.html">Your Book</a></li>
                <li><a href="login.html">Log out</a></li>
            </ul>
            <div class="form">
                <i class="fas fa-search"></i>
            </div>
            </nav>
            </div>
    </header>
    <div class="container-temp">
        <div class="book-profile">
            <div class="book-cover">
                <img src="" alt="Book Cover" id="imgsrc">
            </div>
            <div class="book-details">
                <h1 id="title"></h1>
                <p id="author"></p>
                <p id="details"></p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Your Website. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a>            <div class="contact-info">
                    <p>Email: </p>
                    <p>Phone: </p>
                    <p>Address: </p>
                    <p>Social Media:</p>
                    <p>Twitter: </p>
                    <p>Facebook: </p>
                    <p>Instagram: </p>
                </div>
            </li>
        </ul>
        </div>
    </footer>

    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    let cardData = JSON.parse(sessionStorage.getItem('selectedCard'));
    document.getElementById('title').textContent = cardData.title;
    document.getElementById('author').textContent = cardData.author;
    document.getElementById('imgsrc').src = cardData.imageUrl;
    document.getElementById('details').textContent = cardData.description;
});

    </script>



</body>
</html>
