{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/borrowBook.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Books</title>
</head>
<body>
<div class="body-color">
                    
    <header>    
        <div class="container">
            <a href="#" class="logo">
                <img style="width: 200px; height: 100px;" decoding="async" src="{% static 'images/amino.png' %}" alt="Logo" />
            </a>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
            <ul>
                <li><a  href="{% url 'User_Home' %}">Home</a></li>
                <li><a href="{% url 'userSearchBooks' %}">Search</a></li>
                <li><a href="{% url 'userViewList' %}">View List</a></li>
                <li><a href="{% url 'userBorrowBook' %}">Borrow Books</a></li>
                <li><a href="{% url 'userBookList' %}">Your Book</a></li>
                <li><a href="login.html">Log out</a></li>
            </ul>
            <div class="form">
                <i class="fas fa-search"></i>
            </div>
            </nav>
        </div>
    </header>
    </body>
</html>