:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

body{
    padding-top: 97px;
    background-image: linear-gradient(270deg, #111111, #000000, #000000);
    font-family: "Open Sans", sans-serif;
    background-color: #F2F5FA;
    color: #0C0C0D;
    font-size: 1.2rem;
    line-height: 12px;
}

/* End Header */
a{
    columns: inherit;
    text-decoration: none;
}
li{list-style: none;}
a,img,span,input,select,button{
display: block;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #310044;
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}
button:hover{
    background: #51025f;
    letter-spacing: 1px;
}
.add {
    text-align: center;
    color: rgb(255, 255, 255);
    display: block; /* Change display property */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; /* Add margin-right for spacing */
    padding: 10px 20px; /* Add padding for spacing */
    border-radius: 20px;
    width: fit-content; /* Adjust width based on content */
    margin: 20px auto;
    box-shadow: 0 4px 6px rgb(52, 114, 101); /* Add box shadow */
}
.outputs{
    position: absolute;
    width: 100%;
    z-index: 0;
    /* background-color: #153b78; */
    margin-top: 50px;
    border-radius: 25px;
    color: #F2F5FA;
}
.dash{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    color: #000000;
    background-color: rgb(202, 197, 197);
    border-radius: 20px;
    
}
.dash th{
    text-transform: uppercase;
}
.dash th,td{
    padding: 5px;
}




/* footer */
.footer {
  position: relative; 
  bottom: 0; 
  left: 0;
  width: 100%; /* Take the full width of the viewport */
  background-image: linear-gradient(270deg, #111111, #000000, #000000);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px groove;
  border-color: black;
}




  .footer p {
  margin: 5px 0;
  }
  
  .footer a {
  color: #fff;
  text-decoration: none;
  }
  
  .footer a:hover {
  text-decoration: underline;
  }
  
  .footer-links {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  }
  
  .footer-links li {
  display: inline;
  margin: 0 10px;
  }
