{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Other styles omitted for brevity -->
</head>
<body style="background-image: url('{% static 'images/ryunosuke-kikuno-FKqxZ58bVjU-unsplash.jpg' %}'); background-size: cover;">

  {# Include header file #}
  {% include 'header.html' %}
  <form action="{% url 'login' %}" method="post" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: linear-gradient(270deg, #0f4392, #001d3d, #001d3d); padding: 25px; border: 1px solid #0000005c; border-radius: 15px; width: 300px; height: 25vh; box-shadow: 4px 3px 1px 4px rgba(0, 0, 0, 1);">
    {% csrf_token %}
    <h2 style="text-align: center; color: white;">LOGIN NOW</h2>
    {{ form.as_p }}
    <button type="submit">Login</button>
    <input type="reset" value="Reset" style="width: 100%;">
    <hr>
<p style="color: aliceblue;">Donot have an account? <a  href="{% url 'signup' %}">Signup Now</a></p>
</form>





    <!-- {% include 'footer.html' %} -->

</body>
</html>
