{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>book store</title>
    <meta name="description" content="This is our book store" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <style>
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cairo:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');
</style>
</head>
<body style="background-image: url('{% static 'images/ryunosuke-kikuno-FKqxZ58bVjU-unsplash.jpg' %}');"> 


    {# Include header file #}
    {% include 'header.html' %}
    
    <div class="signup-style">
        <h1>REGISTER NOW</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p style="background-color: aliceblue;">Already have an account? <a  href="{% url 'login' %}">Login now</a></p>
    </div>

        <!-- footer -->
        <script>
        document.getElementById('submit').addEventListener('click', function(event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm_password').value;
            if (password !== confirmPassword) {
                document.getElementById('error').style.visibility = 'visible';
                event.preventDefault();  // Prevent form submission
            }
    });
</script>

    </body>
</html>