{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Profile</title>
    <link rel="stylesheet" href="{% static 'css/temolate.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container-temp">
        <div class="book-profile">
            <div class="book-cover">
                <img src="{{ book.image.url }}" alt="Book Cover">
            </div>
            <div class="book-details">
                <h1>{{ book.title }}</h1>
                <p>{{ book.author }}</p>
                <p>{{ book.details }}</p>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
