{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/normalize.css' %} ">
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/yourBooks.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />

                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>user book List</title>
</head>
<body>

    <header>    
        <div class="container">
            <a href="#" class="logo">
                <img  style="width: 200px; height: 100px;" decoding="async" src="{% static 'images/amino.png' %}" alt="Logo" />
            </a>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
                <ul>
                    <li><a  href="{% url 'User_Home' %}">Home</a></li>
            <li><a href="{% url 'userSearchBooks' %}">Search</a></li>
            <li><a href="{% url 'userViewList' %}">View List</a></li>
            <li><a href="{% url 'userBorrowBook' %}">Borrow Books</a></li>
            <li><a href="{% url 'userBookList' %}">Your Book</a></li>
            <li><a href="{% url  'login' %}">Log out</a></li>
                </ul>
                <div class="form">
                    <i class="fas fa-search"></i>
                </div>
            </nav>
        </div>
    </header>
    
  <div class="body-color">

<div class="overlay"></div>
<div class="content-all">
                    <h2>Borrowed Books</h2>
                    <ul>
                        <div class="holder">
                    {% for book in books %}
                    <div class="imgs">
                            <li><a href="{% url 'template' book.id %}" class="title-small card-title">{{ book.title }}</a>
                            </li>
                            <img height="100" src="{{ book.image.url }}" alt="">
                        </div>
                        {%endfor%}
                                </div>
                                
                                
                            <!-- footer -->

                        </body>
                        </html>